---
import Introduction from "./sections/Introduction.astro";
import WhatIsRedis from "./sections/WhatIsRedis.astro";
import TheRESP from "./sections/TheRESP.astro";
import HowRESPWork from "./sections/HowRESPWorks/HowRESPWork.astro";
import WhatsAParser from "./sections/WhatsAParser.astro";
import WhatsAToken from "./sections/WhatsAToken/WhatsAToken.astro";
import HowToUseTokens from "./sections/HowToUseTokens/HowToUseTokens.astro";
import WhatIsACommand from "./sections/WhatIsACommand/WhatIsACommand.astro";
import DefiningGET from "./sections/DefiningGET/DefiningGET.astro";
import ImplementingAParser from "./sections/ImplementingAParser/ImplementingAParser.astro";
import ParserRecap from "./sections/ParserRecap/ParserRecap.astro";
import CreatingValues from "./sections/CreatingValues/CreatingValues.astro";
import DefiningExpressions from "./sections/DefiningExpressions/DefiningExpressions.astro";
import StoringValues from "./sections/StoringValues/StoringValues.astro";
import EvaluatingCommands from "./sections/EvaluatingCommands/EvaluatingCommands.astro";
---

<main class="prose prose-settings text-neutral-600 mt-20">
  <Introduction />
  <WhatIsRedis />
  <TheRESP />
  <HowRESPWork />
  <WhatsAParser />
  <WhatsAToken />
  <HowToUseTokens />
  <WhatIsACommand />
  <DefiningGET />
  <ImplementingAParser />
  <ParserRecap />
  <CreatingValues />
  <DefiningExpressions />
  <StoringValues />
  <EvaluatingCommands />
</main>
