---
import Introduction from "./sections/Introduction.astro";
import WhatIsRedis from "./sections/WhatIsRedis.astro";
import TheRESP from "./sections/TheRESP.astro";
import HowRESPWork from "./sections/HowRESPWorks/HowRESPWork.astro";
import WhatsAParser from "./sections/WhatsAParser.astro";
import WhatsAToken from "./sections/WhatsAToken/WhatsAToken.astro";
import HowToUseTokens from "./sections/HowToUseTokens/HowToUseTokens.astro";
---

<main class="prose prose-settings text-neutral-600 mt-20">
  <Introduction />
  <WhatIsRedis />
  <TheRESP />
  <HowRESPWork />
  <WhatsAParser />
  <WhatsAToken />
  <HowToUseTokens />
</main>
