---
import Arrow from "@/assets/Arrow.astro";
---

<a
  href="/#projects"
  class="z-10 fixed top-5 left-5 sm:top-10 sm:left-10 bg-black/95 text-white text-sm flex gap-2 w-fit rounded-4xl items-center transition-colors duration-500 hover:bg-neutral-500 py-3 pr-4 pl-4 shadow-sm shadow-black/70"
>
  <Arrow class="size-5 rotate-180" />
  Back
</a>
