---
import Arrow from "@/assets/Arrow.astro";

interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a class="group" href={href} target="_blank" rel="noopener noreferer">{text}</a>
