---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<li class="flex items-center gap-2 text-gray-400">
  <slot />
  <span class="text-black/90 text-xl">
    {text}
  </span>
</li>
