---
import { Image } from "astro:assets";
import Arrow from "@/assets/Arrow.astro";

interface Props {
  title: string;
  href: string;
  label: string;
  image: string;
}

const { title, label, href, image } = Astro.props;
---

<article
  class="group text-base rounded-xl p-1 w-full cursor-pointer transition-transform duration-300 hover:scale-[1.005] hover:bg-[#f2f2f2]"
>
  <a
    class="flex gap-4 items-center p-3 rounded-xl border-dashed border-1 border-technology/30 w-full"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
  >
    <Image
      class="object-contain aspect-square p-1"
      src={image}
      alt="tech"
      width={50}
      height={50}
    />

    <div class="flex-1">
      <p class="text-technology mb-0.5">{title}</p>
      <p class="text-black/60">{label}</p>
    </div>

    <Arrow
      class="size-5 mr-4 transition-transform duration-300 -rotate-45 group-hover:rotate-0 group-hover:text-red-600"
    />
  </a>
</article>
