---
import Technology from "./Technology.astro";
---

<section
  class="inter grid gap-5 grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 appear"
>
  <Technology
    title="Astro"
    href="https://astro.build"
    label="Content-driven website Framerwork"
    image="/icons/astro.svg"
  />
  <Technology
    title="Golang"
    href="https://go.dev/"
    label="Google's compiled backend language"
    image="/icons/golang.svg"
  />
  <Technology
    title="Docker"
    href="https://www.docker.com/"
    label="Containerization platform for applications"
    image="/icons/docker.svg"
  />
  <Technology
    title="Next.js"
    href="https://nextjs.org/"
    label="The React Web Framerwork"
    image="/icons/nextjs.svg"
  />
  <Technology
    title="Fiber"
    href="https://docs.gofiber.io/"
    label="Express-like Golang web framework"
    image="/icons/fiber.svg"
  />
  <Technology
    title="Arch Linux"
    href="https://archlinux.org/"
    label="Minimalist, user-centric Linux Distro"
    image="/icons/arch.svg"
  />
  <Technology
    title="TypeScript"
    href="https://www.typescriptlang.org/"
    label="Statically typed JavaScript superset"
    image="/icons/typescript.svg"
  />
  <Technology
    title="MongoDB"
    href="https://www.mongodb.com/"
    label="High-performance schema-less database"
    image="/icons/mongodb.svg"
  />
  <Technology
    title="PostgreSQL"
    href="https://www.postgresql.org/"
    label="World's most advanced Relational Database"
    image="/icons/postgresql.svg"
  />
</section>
