---
import Heading from "@/components/Articles/Heading.astro";
import Keyword from "@/components/Articles/Keyword.astro";
---

<Heading id="evaluating-commands">Evaluating Commands</Heading>

<p>
  There are several ways to evaluate commands, some better than others, but we
  will take a simple approach using the Golang concurrency features.
</p>
