---
import Heading from "@/components/Articles/Heading.astro";
---

<main class="prose prose-settings text-neutral-600 mt-20">
  <Heading>Disclaimer :</Heading>

  <p>
    Writing deep technical articles takes significant time. If you’d like to
    read a fully developed, end-to-end piece, I recommend checking out my <a
      href="/projects/redis">Redis Clone</a
    >, where I document the complete design and implementation process.
  </p>
  <p>
    You can still see the code of this project on
    <a
      href="https://github.com/dyxgou/interpreter"
      target="_blank"
      rel="noopener noreferrer">Github</a
    >. 🔥
  </p>
</main>
