---
import type { Sections } from "./articleSections";
import Link from "./Link.astro";

interface Props {
  prevSection: Sections;
  nextSection: Sections;
}

const { prevSection, nextSection } = Astro.props;
---

<nav
  class="w-full lg:w-3/5 flex gap-5 flex-col md:flex-row items-center justify-center"
>
  <Link section={prevSection} isPrevLink />
  <Link section={nextSection} />
</nav>
