---
import Screenshot from "./Screenshot.astro";
import BackendLogs from "./BackendLogs.astro";
---

<section class="inter grid grid-cols-1 gap-10">
  <Screenshot
    src="/learning/notes-dashboard.webp"
    alt="Showcase of the notes dashboard"
    size={800}
  />

  <Screenshot
    src="/learning/student-report.webp"
    alt="Showcase of the student report design"
    size={800}
  />

  <BackendLogs />
</section>
