---
import Technology from "@/components/Profile/Technology.astro";
---

<section class="not-prose inter grid gap-5 grid-cols-2 appear">
  <Technology
    title="Golang"
    href="https://go.dev/"
    label="Google's compiled backend language"
    image="/icons/golang.svg"
  />
  <Technology
    title="Fiber"
    href="https://docs.gofiber.io/"
    label="Express-like Golang web framework"
    image="/icons/fiber.svg"
  />
  <Technology
    title="Docker"
    href="https://www.docker.com/"
    label="Containerization platform for applications"
    image="/icons/docker.svg"
  />
  <Technology
    title="SQLite"
    href="https://sqlite.org/"
    label="World's most used database engine"
    image="/icons/sqlite.svg"
  />
  <Technology
    title="Astro"
    href="https://astro.build"
    label="Content-driven website Framerwork"
    image="/icons/astro.svg"
  />
  <Technology
    title="TailwindCSS"
    href="https://tailwindcss.com/"
    label="A utility-first CSS framework"
    image="/icons/tailwindcss.svg"
  />
</section>
