---
import Picture from "./Picture.astro";
---

<h1
  class="fraunces appear tracking-tighter text-4xl md:text-[38px] lg:text-5xl text-center align-middle md:w-1/2 w-5/6"
>
  <span>Hey, I'm</span>
  <Picture
    src="/duck.png"
    size={40}
    alt="Duck"
    class="inline-block rotate-10 mx-2 md:my-3 lg:mb-5 md:w-[60px]"
  />
  <span>Alejandro.</span>
  <span>Glad to see you here!</span>
  <br />
  <span>I'm a <span class="text-slate-500">Fullstack Developer</span></span>
  <Picture
    src="/icons/astro.svg"
    size={40}
    alt="Duck"
    class="inline-block -rotate-10 md:my-3 object-cover p-1 lg:mb-5 ml-0.5 -mr-4 md:w-[60px] bg-white"
  />
  <Picture
    src="/icons/typescript.svg"
    size={40}
    alt="Duck"
    class="inline-block md:mb-3 lg:my-5 md:w-[60px]"
  />
  <Picture
    src="/icons/postgresql.svg"
    size={40}
    alt="Duck"
    class="inline-block rotate-10 md:my-3 lg:mb-5 -ml-4 mr-0.5 md:w-[60px] bg-white p-0.5"
  />
  <span>obsessed with how things work.</span>
</h1>
