---
import Section from "@/layouts/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Redis Clone">
  <Section transition:animate="fade">
    <h1>redis</h1>
  </Section>
</Layout>
