---
interface Props {
  class: string;
}

const { class: classList } = Astro.props;
---

<div id="canvas-provider" class={classList}>
  <slot />
</div>

<script>
  import setCanvas from "./setCanvas.ts";

  const PROVIDER_ID = "canvas-provider" as const;
  const CANVAS_ID = "#canvas-effect" as const;

  const provider = document.getElementById(PROVIDER_ID)!;
  const canvases = provider.querySelectorAll(CANVAS_ID);

  const initCanvases = () => {
    console.log("init canvases");
    for (const canvas of canvases) {
      console.log({ canvas });
      setCanvas(canvas as HTMLCanvasElement);
    }
  };

  initCanvases();
  document.addEventListener("astro:page-load", initCanvases);
</script>
