---
interface Props {
  isGraySquare?: boolean;
}

const { isGraySquare = false } = Astro.props;
---

<div class="w-full min-h-[120px] h-fit relative">
  <div
    class="w-full h-full bg-linear-to-b from-white from-10% to-transparent absolute aspect-video rounded-b-3xl"
  >
  </div>
  <canvas
    data-gray={isGraySquare}
    id="canvas-effect"
    class="object-contain w-full rounded-b-3xl bg-gray-700/20"></canvas>
</div>
