---
import Exercise from "@/components/Articles/Exercise/Exercise.astro";
import Keyword from "@/components/Articles/Keyword.astro";
import ExerciseSnippet from "@/components/Articles/Exercise/ExerciseSnippet.astro";
---

<Exercise exercise={1} title="Identifing Redis Tokens">
  <p>
    Using what you have learned on this chapter, write down on your code all the <Keyword
      word="Tokens"
    /> you can identify from the following <strong>commands</strong>.
  </p>

  <ExerciseSnippet
    code={`SET author Alejandro
GETEX author EX 20
EXISTS author
SET articleRewrites 3
INCRBY articleRewrites 1
INCR articleRewrites`}
  />
  <p>
    Do you want to check how many <Keyword word="TokenKinds" /> will have the Project?
    <br />
    Check out the <a
      href="https://github.com/dyxgou/redis/blob/a2c128bd7000104b1f9bb3ecb2a7fcb7b4c4b8d4/pkg/token/token.go#L15"
      >pkg/token/token.go</a
    > file of the source code.
  </p>
</Exercise>
