---
import { Image } from "astro:assets";
import Section from "@/layouts/Section.astro";
import Title from "./Title.astro";
import Projects from "./Projects.astro";
---

<Section class="mb-1">
  <footer class="w-full h-svh lg:h-[900px] relative grid place-items-center">
    <Image
      class="absolute top-0 left-0 w-full h-full object-cover rounded-3xl saturate-150"
      src="/images/footer.webp"
      alt="footer"
      width={3445}
      height={2297}
    />
    <div class="absolute top-0 left-0 w-full h-full rounded-3xl bg-dots"></div>
    <div
      class="bg-linear-to-t from-black/70 from-10% to-transparent absolute top-0 left-0 w-full h-full rounded-3xl"
    >
    </div>
    <Projects />

    <div class="z-10 flex flex-col items-center gap-15">
      <Title />
      <a
        href="mailto:diego5614yt@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="rounded-xl bg-gray-100 text-black text-xl text-center w-fit py-2.5 px-5"
      >
        Get in touch
      </a>
    </div>
  </footer>
</Section>
