<h3
  class="fraunces appear tracking-tighter text-white text-4xl md:text-5xl text-center align-middle w-[90%] md:w-[95%]"
>
  Have a Project do you want to work on?<br /> Let's see how we can build something
  amazing!
</h3>
