---
import Keyword from "@/components/Articles/Keyword.astro";
---

<table>
  <thead>
    <tr>
      <th scope="col">RESP Element</th>
      <th scope="col">Explanation</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><Keyword word="*1" /></th>
      <td
        >The ( <Keyword word="*" /> ) indicates an <strong>Array</strong>, in
        this case the <strong>Command</strong> itself is consider as an Array of
        <strong>words</strong>, the <Keyword word="1" /> after it indicates its <strong
          >length</strong
        >.
      </td>
    </tr>

    <tr>
      <th><Keyword word="\\r\\n" /></th>
      <td>
        The <Keyword word="\\r\\n" /> (CRLF) is the <strong
          >protocol's terminator</strong
        >, which always separates its parts.
      </td>
    </tr>

    <tr>
      <th><Keyword word="$2" /></th>

      <td>
        The ( <Keyword word="$" /> ) indicates a <strong>BulkString</strong>
        which is a <strong>Binary-Safe String</strong>, the <Keyword word="2" />
        which indicates its <strong>length</strong> (determined in characters).
      </td>
    </tr>

    <tr>
      <th><Keyword word="\\r\\n" /></th>

      <td>
        We use the <strong>terminator</strong> (CRLF) to separate <Keyword
          word="$2"
        /> from the data it represents ( <Keyword word="OK" /> ).
      </td>
    </tr>

    <tr>
      <th><Keyword word="OK" /></th>

      <td>
        <Keyword word="OK" /> is the actual data represented by <Keyword
          word="$2"
        />.
      </td>
    </tr>

    <tr>
      <th><Keyword word="\\r\\n" /></th>

      <td>
        The <strong>terminator</strong> (CRLF) is also used to indicate the end of
        the Command.
      </td>
    </tr>
  </tbody>

  <caption class="mt-4 caption-bottom">
    Serializing <Keyword word="OK" />.
  </caption>
</table>
