---
import Keyword from "@/components/Articles/Keyword.astro";
import CRLF from "./CRLF.astro";
---

<table>
  <thead>
    <tr>
      <th scope="col">Element</th>
      <th scope="col">Type</th>
      <th scope="col">Data</th>
    </tr>
  </thead>

  <caption class="mt-4 caption-bottom">
    Serializing <Keyword word="SET" /> Command.
  </caption>

  <tbody class="command-table">
    <tr>
      <th scope="row"><Keyword word="*3" /></th>
      <td><strong>Array</strong></td>
      <td>
        Declares an Array with <strong>3</strong> elements.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="$3" /></th>
      <td><strong>Bulk String</strong></td>
      <td>
        Declares the following BulkString is <strong>3 bytes</strong> long.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="SET" /></th>
      <td><strong>Command</strong></td>
      <td>
        The command the <strong>Redis Instance</strong> is going to execute.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="$8" /></th>
      <td><strong>Bulk String</strong></td>
      <td>
        Declares that the first argument of our <Keyword word="SET" /> command is
        <strong>8 bytes</strong> long.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="userName" /></th>
      <td><strong>Key Argument</strong></td>
      <td>
        The first argument of the <Keyword word="SET" /> command is the <strong
          >key</strong
        > the value is going to be stored on.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="$9" /></th>
      <td><strong>Bulk String</strong></td>
      <td>
        Declares that the second argument is <strong>9 bytes</strong> long.
      </td>
    </tr>

    <CRLF />

    <tr>
      <th scope="row"><Keyword word="Alejandro" /></th>
      <td><strong>Value Argument</strong></td>
      <td>
        The <strong>second argument</strong> of the <Keyword word="SET" /> command
        is the value to be stored.
      </td>
    </tr>

    <CRLF text="The final terminator for the entire command." />
  </tbody>
</table>
