---
import "@/styles/global.css";
import Meta from "@/components/Meta.astro";

interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is my Portfolio to promote my working skills"
    />
    <meta name="author" content="Diego Páez" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,WONK@9..144,300,1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap"
      rel="stylesheet"
    />
    <title>{Astro.props.title}</title>

    <Meta />
  </head>
  <body
    class="bg-background content-visibility w-dvw h-dvh flex flex-col gap-2 p-2 pb-4 overflow-x-hidden"
  >
    <slot />
  </body>
</html>
