---
import Heading from "@/components/Articles/Heading.astro";
import Picture from "@/components/Articles/Picture.astro";
---

<Heading id="the-resp"> The Redis Serialization Protocol (RESP) </Heading>

<p>
  Think of computer communication like a professional conference. For
  participants to exchange ideas effectively, they need a <strong
    >shared language</strong
  >. In the world of Redis, that language is <strong>RESP.</strong>
</p>
<p>
  In our architecture, the <strong>Redis Server</strong> acts as the keynote speaker,
  while the <strong>Redis Clients</strong> are the participants. For them to understand
  each other, every interaction—or <strong>connection</strong>—must follow the
  strict rules of RESP.
</p>

<Picture src="/articles/redis-arch.svg" alt="redis arch" size={1024} />
