---
import Section from "@/layouts/Section.astro";
import Skill from "./Skill.astro";
import Server from "@/assets/skills/Server.svg";
import Internet from "@/assets/skills/Internet.svg";
import Terminal from "@/assets/skills/Terminal.svg";
import Testing from "@/assets/skills/Testing.svg";
import Bolt from "@/assets/skills/Bolt.svg";
import Fire from "@/assets/skills/Fire.svg";
import Architecture from "@/assets/skills/Architecture.svg";
import { Image } from "astro:assets";
---

<Section
  class="w-full h-fit flex flex-col xl:flex-row content-center flex-nowrap justify-between gap-15 px-5 sm:px-10 md:px-20 py-20"
>
  <div
    class="w-full xl:w-5/6 flex-none text-xl text-neutral-600 prose prose-h2:text-5xl prose-h2:mb-0 prose-h3:text-5xl shrink-0 prose-h3:mb-13"
  >
    <h2 class="fraunces tracking-tighter">Solutions Engenieer</h2>
    <h3 class="fraunces tracking-tighter text-slate-500">Lifelong learner.</h3>

    <p>
      Hey! I’m Alejandro, a fullstack developer with a passion for building
      complex systems from scratch. My journey began with a love for mathematics
      and understanding how things work at their core—leading me to tackle
      ambitious projects that push my limits and deepen my knowledge.
    </p>
    <p>
      I thrive on challenges that demand months of focus, whether it’s designing
      high-performance tools, crafting languages, or refining developer
      experiences. Each project is a deep dive into the fundamentals, teaching
      me resilience and creativity along the way.
    </p>
    <p>
      When I’m not coding, I’m sharing what I’ve learned or exploring new
      technical frontiers—always with curiosity and a drive to build things that
      matter.
    </p>

    <section class="mt-20 w-full flex flex-wrap gap-5 mb-3">
      <Skill skill="Frontend">
        <Internet />
      </Skill>
      <Skill skill="Backend">
        <Server />
      </Skill>
      <Skill skill="Linux">
        <Terminal />
      </Skill>
      <Skill skill="Clean Architecture">
        <Architecture />
      </Skill>
      <Skill skill="Performace">
        <Bolt />
      </Skill>
      <Skill skill="Testing">
        <Testing />
      </Skill>
      <Skill skill="Lots of Passion">
        <Fire />
      </Skill>
    </section>
  </div>

  <Image
    class="object-cover h-full min-h-[400px] w-full aspect-video xl:w-2/5 object-center rounded-3xl border-4 border-white shadow-md shadow-black/80"
    src="/duck.png"
    alt="me"
    width={450}
    height={500}
  />
</Section>
